aside.slider-new h5,
aside.slider-featured h5,
aside.about-us h5{
  color: #00a1be;
  text-transform: capitalize;
  font-family: inherit;
  letter-spacing: .1em;
  font-weight: normal;
  border-bottom: 1px solid #f0626e;
  height: 3rem;
  margin-bottom: -.55em;
}
.slider-new>.d-flex,
.slider-featured>.d-flex,
.about-us>.d-flex{
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b9b9b9;
}
.buttoms{
  width: calc(6rem + 1px);
  height: 4rem;
}
.buttoms>button{
  box-sizing: border-box;
  width: 49%;
  height: 100%;
  background-color: #3c3c3c;
  border: 0;
  color: #fff;
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 0;
  margin-bottom: -3px;
}
.buttoms>button:hover{
  background-color: #05aecc;
}
.slider-featured .buttoms>button:hover{
  background-color: #f0626e;
}
.buttoms.d-flex{
  flex-wrap: nowrap;
  justify-content: space-between;
}
.slide-block.d-flex{
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis: 100%;
}
.slide-block.d-flex.mt-4{
  border: 0;
}
.slide-img{
  position: relative;
  width: 100%;
  flex-basis: 40%;
  flex-shrink: 1;
}
.slide-img>img{
  width: 100%;
  object-fit: contain;
}
.slide-img .baby-shop{
  height: 26%;
  width: 80%;
  top: 37%;
  right: 10%;
}
.slide-img>a{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slide-img>a:hover{
  background-color: #090732b0;
}

.slider-featured>.d-flex + .d-flex{
  border: 0;
}
.my-card{
  width: 20%;
  border: 1px solid #dddddd;
  position: relative;
}
.my-card>img{
  object-fit: fill;
  width: 100%;

}
.my-card>.title{
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding: 0;
}
.title  .row:first-of-type{
  width: 100%;
  margin: 0;
  padding: .5em .2em;
  border-bottom: 1px solid #dddddd;
}
.title>.d-flex{
  flex-wrap: nowrap;
  border: 0;
  width: 100%;
}
.prod-title{
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 .2em;
}
.description{
  line-height: 1;
  font-size: .7rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: .2em;
  padding-bottom: .2em;
  color: #f0626e;
}

.my-card-footer{
  height: 2.5rem;
  flex-grow: 1;
  flex-shrink: 2;
  align-items: center;
  font-size: .9rem;
}
.my-card-footer>img{
  width: 1em;
  margin: auto;
}
.my-card-footer span{
  font-size: 1.1rem;
}
.my-card-footer:last-of-type{
  background-color: #f0626e;
  color: #fff;
  border: 0;
}
.my-card-footer:nth-of-type(1n + 2){
  border-left: 1px solid #dddddd;
}
.slide-card .my-card:nth-of-type(3) .description{
  color: #05aecc;
}
.slide-card .my-card:nth-of-type(3) .my-card-footer:last-of-type{
  background-color: #05aecc;
}

.shortcut{
  position: absolute;
  top: 1em;
  left: 0;
  width: 35%;
  height: 1.75em;
}
.sale{
  background-color: #f0626e;
  text-transform: uppercase;
}
.new{
  background-color: #05aecc;
  text-transform: capitalize;
}
.shortcut .text{
  font-size: 0.7rem;
  color: #fff;
}
.shortcut.d-flex{
  align-items: center;
  justify-content: center;
}
.about-us .title{
  padding: 1.5em 1em;
}
.about-us{
  border-bottom: 1px solid #b9b9b9;
}
.about-us>div + div.d-flex{
  border: 0;
}
.steps{
  position: relative;
  background-color: #434343;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  display: block;
  width: 30%;
  padding: 0 2em;
}
.steps img{
  height: 10rem;
  width: 10rem;
}
.steps a{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.steps a:hover{
  background-color: #00000045;
}
.steps span{
  font-size: 1.5rem;
}
.steps + div{
  margin-left: 1rem;
}
.register{
  background-color: #05aecc;
}
.checkout{
  background: #f0626e;
}
.about-us .btn{
  background-color: #05aecc;
  border-radius: 0;
  border: 0;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 992px){
  aside.slider-new h5,
  aside.slider-featured h5{
    margin-bottom: -.6em;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px){
  aside.slider-new h5,
  aside.slider-featured h5{
    margin-bottom: -.6em;
  }
  .steps span{
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px){
  aside{
    display: none;
  }

}
