@import url('navigation.css');
header.container{
  max-height: 230px;
}

.top-header{
  display: grid;
  height: 140px;
  grid-template-rows: 4fr 8fr;
  grid-template-columns: 1fr 5fr 6fr;
}
.empty{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f6f6f6;
}
.top-header-nav{
  list-style: none;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  width: 100%;
  margin: auto;
  padding: 0;
}
.top-header-nav a{
  text-decoration: none;
  color: #434343;
}
.logo{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  align-self: flex-end;
}
.logo>img{
  display: inline-block;
}
.block-nav{
  grid-row-start: 2;
  grid-column-start: 3;
  background-color: #f6f6f6;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2.8fr 2.8fr 3.2fr 3.2fr;
  gap: 5px;
  text-transform: capitalize;
}
.register-block{
  grid-row-start: 1;
  grid-column: 1 / 2;
  background-color: #05aecc;
}
.sign-block{
  grid-row: 1;
  grid-column: 2 / 3;
  background-color: #f0626e;
}
.whislost-block{
  grid-row-start: 1;
  grid-column: 3 / 4;
  background-color: #05aecc;
}
.cart-block{
  grid-row-start: 1;
  grid-column: 4 / 5;
  background-color: #f0626e;
}
.cart-block img,
.whislost-block img{
  margin-left: 10px;
}
.block-nav a{
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.block-nav a:hover{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .top-header{
    grid-template-columns: .5fr 3.5fr 8fr;
    height: 100px;
  }
  .logo>img{
    width: 128px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px){
  .top-header-nav{
    display: none;
  }
  .top-header{
    grid-template-rows: 1fr;
    height: 54px;
    margin-top: 10px;
  }
  .logo{
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .logo>img{
    height: 54px;
    max-width: 86px;
  }
  .block-nav{
    grid-row-start: 1;
  }
  .empty{
    grid-row-start: 1;
  }
  .block-nav a{
    font-size: 12px;
  }
  .block-nav a>img{
    height: 14px;
  }
}
@media screen and (max-width: 576px){
  .top-header{
    grid-template-rows: 1fr;
    height: 54px;
    margin-top: 10px;
  }
  .top-header-nav{
    display: none;
  }
  .empty{
    grid-row-start: 1;
  }
  .logo{
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .logo>img{
    height: 54px;
    width: 85.8px;
  }
  .block-nav{
    grid-row-start: 1;
  }
  .block-nav a{
    font-size: 12px;
  }
  .block-nav a>img{
    height: 14px;
  }
  nav.navbar{
    height: 50px;
  }
  .block-nav{
      grid-template-columns: 1fr 1fr 1.4fr 1.4fr;
      gap: 2px;
  }
}
