.products.container{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 6.8fr 5.2fr;
  grid-template-rows: 1.2fr 0.9fr 0.6fr 1.2fr;
  padding: 0;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
    /* TODO: удалить бэкграунд */
  background-color: silver;
}
.container h3{
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  color: #ef5966;
  text-align: justify;
}
.men{
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  overflow: hidden;
}
.men>img{
  width: 100%;
}
.men-text{
  position: absolute;
  bottom: 10px;
  width: 50%;
  color: #fff;
  line-height: 1;
  box-sizing: border-box;
}
.men-text>div:first-of-type{
  background-color: #1b1a1aad;
  padding: 15px;
  padding-right: -5px;
}
.men-text>div:last-of-type{
  background-color: #d95363;
  padding: 15px;
  margin-top: 5px;
}
.men-text>div:last-of-type span{
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.men-text span{
  font-size: 0.8125em;
  text-transform: uppercase;
}
.women{
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
}
.women>img{
  width: 100%;
}
.kids{
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
}
.kids>img{
  width: 100%;
}
