@import url(asside-style.css);
main.container{
  min-width: 400px;
}
.products{
  margin-top: 1em;
  display: grid;
  grid-template-columns: 6.8fr 5.2fr;
  grid-template-rows: 1.2fr 0.9fr 0.6fr 1.2fr;
  padding: 0;
  grid-gap: .35rem;
  justify-content: center;
  align-items: center;
}
.container h5{
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #ef5966;
  text-align: justify;
}
.products>div{
  height: 100%;
  width: 100%;
}
.men{
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  overflow: hidden;
}
.men>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.men-text,
.women-text{
  position: absolute;
  bottom: 10px;
  width: 60%;
  color: #fff;
  line-height: 1.2;
  box-sizing: border-box;
}
.products a{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.products a:hover{
  background-color: #0000008a;
}
.men-text>div:first-of-type,
.women-text{
  background-color: #1b1a1aad;
  padding: 0.7em 1em;
  padding-right: 0.35em;
  height: 7rem;
  overflow: hidden;
  text-overflow: clip;
}
.women-text{
  padding-top: 0.7rem;
}
.men-text>div:last-of-type{
  background-color: #d95363;
  padding: 1rem;
  margin-top: 0.35rem;
}
.men-text>div:last-of-type span{
  width: 100%;
  font-family: 'Bodoni Moda', serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.men-text span,
.women-text span{
  display: inline-block;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.women{
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
}
.women-text{
  height: 5rem;
}
.women-text span{
  font-size: 0.55rem;
}
.women-text h5{
  font-size: 1.2rem;
}
.women>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kids{
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: hidden;
}
.kids>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.baby-shop{
  height: 23%;
  width: 60%;
  position: absolute;
  top: 67%;
  right: 0;
  background-color: #05aecc;
  color: #fff;
}
.baby-shop.d-flex{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.baby-shop.d-flex img{
  width: 1.5rem;
}
.baby-shop span{
  text-transform: capitalize;
}
.baby-shop>span:first-of-type{
  flex-basis: 36%;
  width: 100%;
  font-size: 1rem;
}
.baby-shop .special,
.baby-shop .trade{
  flex-basis: 19%;
  height: 100%;
  width: 100%;
  background-color: #00a1be;
}
.baby-shop .trade{
  background-color: #f0626e;
}
.baby-shop .price{
  flex-basis: 30%;
  background-color: #323232;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}
.special.d-flex,
.trade.d-flex,
.price.d-flex{
  justify-content: center;
  align-items: center;
}
.special a,
.trade a{
  position: relative;
  height: inherit;
  width: inherit;
  justify-content: center;
  align-items: center;
}

.search{
  background-color: #f0626e;
  align-items: center;
  justify-content: center;
  max-height: 10rem;
}
.search form{
  width: 100%;
  height: 100%;
  padding: 3.2em;
}
.search .row{
  height: 3em;
}
.search .btn{
  padding: 0;
  width: 3em;
  height: 3em;
  background-image: url(../img/Search_btn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.search-text{
  padding: 1.1rem;
  width: 100%;
  height: 100%;
  font-size: .9rem;
}

.crafts{
  position: relative;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  overflow: hidden;
}
.crafts>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.crafts-shop{
  height: 18%;
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #333333b8;
}
.crafts-shop.d-flex{
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0;
}
.crafts-shop.d-flex img{
  width: 1.5rem;
}
.crafts-shop span{
  text-transform: uppercase;
}
.crafts-shop>span:first-of-type{
  flex-basis: 45%;
  width: 100%;
  font-size: 1.5rem;
}
.crafts-shop .special,
.crafts-shop .trade{
  flex-basis: 15%;
  height: 100%;
  width: 100%;
  background-color: #00a1be;
}
.crafts-shop .trade{
  background-color: #f0626e;
}
.crafts-shop .price{
  flex-basis: 25%;
  background-color: #323232;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}

.jewelry{
  position: relative;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: hidden;
}
.jewelry>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.jewelry-text{
  position: absolute;
  transform: rotate(-90deg);
  bottom: 20%;
  left: calc(60% );
  width: 60%;
  height: 4rem;
  color: #fff;
  line-height: 1.2;
  box-sizing: border-box;
  background-color: #fff;
  /* background-color: #3333337d; */
  color: #fff;
  padding: 0.75em;
}
.jewelry-text h5{
  color: #333;
  font-family: inherit;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  :root{
    font-size: 0.6em;
  }
  .search form{
    width: 100%;
    height: 100%;
    padding: 1.5em;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px){
  :root{
    font-size: 0.55em;
  }
  .women h5{
    font-size: 1.1rem;
  }
  .baby-shop>span:first-of-type{
    font-size: 0.7rem;
  }
  .baby-shop span{
    font-size: 1rem;
  }
  .search form{
    padding: 1em;
  }
}
@media screen and (max-width: 576px){
  button.navbar-toggler{
    padding: .1rem 0.3rem;
  }
  :root{
    font-size: .7em;

  }
  .products{
    grid-template-rows: repeat(auto-fill, minmax(3em, 1fr));
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .men{
    width: 100%;
    grid-row: span 1;
  }
  .women{
    width: 100%;
    grid-row-start: 2;
    grid-column-start: 1;

  }
  .kids{
    width: 100%;
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .search{
    grid-row-start: 4;
    max-height: 9rem;
  }
  .search form{
    padding: 1.5em;
  }
  .crafts{
    grid-row-start: 5;
  }
  .jewelry{
    grid-row-start: 6;
    grid-column-start: 1;
  }
}
