@-webkit-keyframes appearance {
  from{opacity: 0;}
  to{opacity: 100;}
}
@keyframes appearance {
  from{opacity: 0;}
  to{opacity: 100;}
}
nav{
  background-color: #05aecc;
  margin-top: 1rem;
  height: 70px;
}
.my-navbar{
  padding: 0;
  height: 100%;
  margin: 0;
}
.my-navbar a{
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: white;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 20px;
  margin: 0;
}
.my-navbar a:hover{
  color: #ef5966;
  background-color: white;
}
.my-dropdown{
  position: relative;
}
.my-dropdown>ul a{
  color: #ef5966;
}
.my-dropdown>ul{
  display: none;
  position: absolute;
  height: 380px;
  width: 260px;
  top: 75px;
  -webkit-box-shadow: 0 0 16px 0 #00000033;
          box-shadow: 0 0 16px 0 #00000033;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
}
.my-dropdown:nth-of-type(1n + 7)>ul{
  right: 0;
}
.my-dropdown>ul>li:last-of-type{
  padding: 10px 0;
}
.my-dropdown>ul>li:last-of-type a{
  padding: 0;
}
.my-dropdown:hover>ul,
.my-dropdown>ul:hover{
  display: block;
  -webkit-animation: appearance 1.5s;
          animation: appearance 1.5s;
}
.sub-nav{
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30%)[3];
  grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: 3fr 8fr;
  grid-template-columns: 3fr 8fr;
  border-bottom: 1px solid #cacaca;
  text-transform: capitalize;
  padding-top: 1rem;
  padding-bottom: .35rem;
}
.sub-nav > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.sub-nav > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.sub-nav > *:nth-child(3){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.sub-nav > *:nth-child(4){
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.sub-nav > *:nth-child(5){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.sub-nav > *:nth-child(6){
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.sub-nav>img{
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  margin-right: .35rem;
  -ms-grid-row-align: center;
      align-self: center;
}
.sub-nav>h3{
  color: #ef5966;
  font-size: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.5% 0;
}
.sub-nav>span{
  color: #454545;
  font-size: 0.875em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 14px;
  margin-bottom: 5%;
}
.sub-nav>button{
  height: 23px;
  width: 116px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 0.75em;
  border: none;
  background-color: #05aecc;
}
nav.navbar{
  display: none;
  position: relative;
  z-index: 6;
}
.navbar>ul{
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.navbar>ul li{
  border-bottom: 1px solid #cacaca;
}
.navbar>ul li:first-of-type{
  border-top: 1px solid #cacaca;
}
.navbar>ul li a{
  height: 100%;
  padding: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px){
  nav.container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
  .my-navbar a{
    font-size: 0.9em;
    padding: 0 1rem;
  }
  .my-navbar.d-flex{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav{
    height: 50px;
  }
  .my-dropdown>ul{
    top: 55px;
  }
  nav.container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px){
  nav.container-fluid{
    padding-right: 0;
    padding-left: 0;
  }
  .my-navbar a{
    font-size: 0.9em;
    padding: 0 .35rem;
  }
  .my-navbar.d-flex{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav{
    height: 50px;
  }
  .my-dropdown>ul{
    top: 55px;
  }
  .my-nav-md>ul li a{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 1px solid #cacaca;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 9px;
  }
  .my-nav-md>ul li:last-of-type a{
    border-right: none;
  }
  .my-dropdown:nth-of-type(1n + 5)>ul{
    right: 50%;
  }
}
@media screen and (max-width: 576px){
  header.container{
    min-width: 400px;
  }
  nav.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #05aecc;
  }
  nav.navbar-dark .navbar-toggler{
    color: #fff;
    border-color: #fff;
  }
  nav.navbar-dark .navbar-toggler:focus{
    -webkit-box-shadow: 0 0 0 0.05rem;
            box-shadow: 0 0 0 0.05rem;
  }
  nav.navbar .menu{
    text-transform: uppercase;
    color: #fff;
  }
  nav.my-nav-md{
    display: none;
  }
  nav.navbar>div.container{
    width: 150px;
    margin-left: 0;
  }
  .my-dropdown:hover>ul,
  .my-dropdown>ul:hover{
    display: none;
  }
  .navbar:hover>ul,
  .navbar>ul:hover{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
